go 1.19

use (
	./chenile-examples/customer-service
	./chenile-examples/mainweb-app
	./chenile-examples/order-service
	./chenile-framework/base
	./chenile-framework/core
	./chenile-framework/http
	./chenile-framework/owiz
	./chenile-framework/packager
	./chenile-framework/servicegen
	./chenile-framework/test
)
