go 1.26

toolchain go1.26.3

use (
	./base
	./bdd-utils
	./chenile
	./config
	./core
	./http
	./middleware
	./owiz
	./packager
	./servicegen
	./stateentity
	./stm
	./../chenile-examples/inventory-service
	./../chenile-examples/customer-service
	./../chenile-examples/order-service
)
